
  <%- include('../template/cabecera.ejs') %>

  
<body>
  <%- include ('../template/modal.ejs') %>

  <%- include('../template/navbar.ejs') %>

  <%- include('../template/carousel.ejs') %>

  <%- include('../views/index.e.ejs') %>

  <%- include('../template/footer.ejs')  %>



</body>